@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  padding: 10px 24px;
  color: white;
  background-color: #13183F;
  text-decoration: none;
  border-radius: 28px;
  font-weight: bold;
}

.button--gradient-light {
  display: inline-block;
  padding: 10px 24px;
  color: white;
  background-color: #13183F;
  text-decoration: none;
  border-radius: 28px;
  font-weight: bold;
  background-image: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
}

.button--gradient-dark {
  display: inline-block;
  padding: 10px 24px;
  color: white;
  background-color: #13183F;
  text-decoration: none;
  border-radius: 28px;
  font-weight: bold;
  background-image: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
}

.button-link {
  color: #F74780;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

.hero__title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 26px;
  line-height: 51px;
  color: #13183F;
}
.hero__subtitle {
  color: #83869A;
  font-size: 16px;
  margin-bottom: 26px;
  line-height: 26px;
}
@media (min-width: 1024px) {
  .hero__subtitle {
    width: 70%;
  }
}
.hero__button {
  margin-bottom: 46px;
}
.hero__img {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  position: relative;
  margin-bottom: 66px;
}
@media (min-width: 768px) {
  .hero__img {
    width: 50%;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .hero__img {
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .hero__img {
    height: 450px;
  }
}
.hero__number {
  position: absolute;
  display: inline-block;
  width: max-content;
  background-color: white;
  color: black;
  padding: 5px;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  border-radius: 1rem;
  box-shadow: 0px 5px 15px rgba(6, 22, 141, 0.1589);
}
.hero__number span {
  display: block;
}
.hero__number__title {
  font-size: 14px;
  color: #83869A;
}
.hero__number__number {
  font-size: 32px;
  font-weight: bold;
  color: black;
}
.hero__number-1 {
  padding: 16px 20px 16px 20px;
  top: 0;
  right: 0;
}
@media (min-width: 768px) {
  .hero__number-1 {
    top: -5px;
  }
}
@media (min-width: 1024px) {
  .hero__number-1 {
    top: 30px;
    right: 70px;
    padding: 16px 40px 16px 20px;
  }
}
@media (min-width: 1200px) {
  .hero__number-1 {
    right: 40px;
  }
}
@media (min-width: 1920px) {
  .hero__number-1 {
    right: -600px;
  }
}
.hero__number-2 {
  padding: 16px 45px 16px 20px;
  bottom: 0;
  left: 0;
}
@media (min-width: 768px) {
  .hero__number-2 {
    bottom: -70px;
    left: 70px;
  }
}
@media (min-width: 1024px) {
  .hero__number-2 {
    left: -10px;
    bottom: 150px;
  }
}
@media (min-width: 1200px) {
  .hero__number-2 {
    left: 70px;
  }
}
@media (min-width: 1920px) {
  .hero__number-2 {
    left: 750px;
    bottom: 80px;
  }
}
@media (min-width: 768px) {
  .hero__img-movil {
    display: none;
  }
}
@media (min-width: 768px) {
  .hero .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
  }
}
@media (min-width: 1024px) {
  .hero .container {
    padding-bottom: 0;
    margin-left: 80px;
  }
}
@media (min-width: 768px) {
  .hero__content {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .hero__content {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .hero__content {
    max-width: 550px;
  }
}

.activities {
  background-image: linear-gradient(180deg, white 0%, #F0F1FF 100%);
  padding-bottom: 80px;
}
@media (min-width: 768px) {
  .activities {
    padding-top: 90px;
  }
}
@media (min-width: 1024px) {
  .activities {
    padding-top: 20px;
  }
}
@media (min-width: 1200px) {
  .activities {
    padding-right: 80px;
    padding-left: 80px;
  }
}
@media (min-width: 1920px) {
  .activities {
    padding: 20px;
  }
}
.activities__header {
  background-image: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
  color: white;
  border-radius: 1rem;
  padding: 24px 32px;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .activities__header {
    margin-bottom: 0;
    padding: 56px 51px;
  }
}
.activities__item {
  position: relative;
  padding: 56px 28px 40px;
  border-radius: 10px;
  margin-bottom: 40px;
  background-color: white;
}
@media (min-width: 768px) {
  .activities__item {
    margin-bottom: 0;
  }
}
.activities__item:last-child {
  margin-bottom: 0;
}
.activities__item-icon {
  position: absolute;
  top: -28px;
  left: 28px;
  width: 56px;
  height: 56px;
  background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.activities__item__title {
  color: #13183F;
  font-size: 20px;
  margin-bottom: 16px;
}
.activities__item__description {
  color: #83869A;
  font-size: 16px;
  margin-bottom: 24px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .activities .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 56px 11px;
  }
}
@media (min-width: 1024px) {
  .activities .container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 56px 32px;
  }
}

footer.footer-principal {
  padding: 36px 16px;
  background: #13183F;
}
footer.footer-principal .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer.footer-principal ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header.header-principal {
  padding-top: 16px;
  padding-bottom: 20px;
  margin-bottom: 38px;
}
header.header-principal .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.header-principal ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 1024px) {
  header.header-principal {
    margin-bottom: 70px;
    margin-right: 80px;
    margin-left: 80px;
    padding-bottom: 40px;
  }
}

.container {
  padding-right: 16px;
  padding-left: 16px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1024px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 768px) {
  body {
    background-image: url("../../img/hero-imge.png");
    background-repeat: no-repeat;
    background-position: 125% 0;
    background-size: 400px;
  }
}
@media (min-width: 1024px) {
  body {
    background-position: 100% 0;
    background-size: 450px;
  }
}
@media (min-width: 1200px) {
  body {
    background-position: 100% -10px;
    background-size: 450px;
  }
}

html * {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  overflow-x: hidden;
  font-size: 16px;
}

img {
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
