@use 'variables' as v;

@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: v.$bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: v.$bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: v.$bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: v.$bp-desktop-xl) {
      @content;
    }
  }
  
  @if $bp == desktopxxl {
    @media (min-width: v.$bp-desktop-xxl) {
      @content;
    }
  }
}

@mixin reset-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin button($bg-color: v.$color-dark-blue, $color: white) {
  display: inline-block;
  padding: 10px 24px;
  color: $color;
  background-color: $bg-color;
  text-decoration: none;
  border-radius: 28px;
  font-weight: bold;
}

@mixin button--gradient_ligth() {
  @include button();
  background-image: v.$color-gradient1;
}

@mixin button--gradient_dark() {
  @include button();
  background-image: v.$color-gradient2;
}

@mixin button-link() {
  color: v.$color-pink;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}
