@use "../abstracts/abstracts" as abs;

footer.footer-principal {
    padding:36px 16px;
    background: abs.$color-dark-blue;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul {
        @include abs.reset-list();
    }
    
}